packages:
    yum:
        amazon-linux-extras: []
        jq: []
commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql11 && sudo yum install -y postgresql-contrib
    02_postgres_install:
        command: sudo yum install -y postgresql-devel libpq-devel git
    03_get_node:
        command: sudo curl --silent curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | sudo bash -
    04_install_node:
        command: source ~/.bashrc && nvm install 18
    05_add_repos:
        command: sudo curl -sL https://dl.yarnpkg.com/rpm/yarn.repo -o /etc/yum.repos.d/yarn.repo
    06_install_yarn:
        command: sudo yum -y install yarn
    07_yarn_version:
        command: yarn set version 1.22.17
    08_install_redis:
        command: sudo amazon-linux-extras install redis6
    09_start_redis:
        command: sudo systemctl start redis
    10_pip_upgrade:
        command: /var/app/venv/*/bin/python -m pip install --upgrade pip
    11_install_epel:
        command: sudo amazon-linux-extras install epel -y
    12_install_supervisor:
        command: sudo yum install git supervisor -y
    13_setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
