packages:
    yum:
        amazon-linux-extras: []
        jq: []
commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql11 && sudo yum install -y postgresql-contrib
    02_postgres_install:
        command: sudo yum install -y postgresql-devel libpq-devel git
    03_install_redis:
        command: sudo amazon-linux-extras install redis6
    04_start_redis:
        command: sudo systemctl start redis
    05_pip_upgrade:
        command: /var/app/venv/*/bin/python -m pip install --upgrade pip
    06_install_epel:
        command: sudo amazon-linux-extras install epel -y
    07_install_supervisor:
        command: sudo yum install git supervisor -y
    08_setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
