container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput && python3 manage.py createcachetable"
    leader_only: true
  03_collect_static:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
#  04_generate_locales:
#    command: "source /var/app/venv/*/bin/activate && python3 manage.py compilemessages"
  05_create_log_file:
    command: "touch /var/log/log-history.log"
  06_change_permissions:
    command: chmod g+s /var/log/log-history.log
  07_change_owner:
    command: chown webapp:webapp /var/log/log-history.log

#These Command Will Execute Only One Time
  90_create_default_user:
    command: "source /var/app/venv/*/bin/activate && DJANGO_SUPERUSER_PASSWORD=SpiderLinked123! python3 manage.py createsuperuser --no-input --email=karoly.gergely@spiderlinked.com"
    leader_only: true
